*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.box{
    background-image: url(/lab1/images/github.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 10px;
}
.semi-box{
    margin-left: 50px;
}
.container{
    text-align: center;
    border: unset solid;
    width: 600px; 
    height: 340px;
    background-color: rgb(253, 247, 247);
    margin: 40px 400px;
    padding: 10px;
     box-shadow: -10px -10px 15px rgba(253, 249, 249, 0.5), 10px 10px 15px rgba(219, 18, 18, 0.5); 
    
}
#users_list{
    font-size: 14px;
    font-weight: bold;
}
.users-dropdown{
    font-size: 20px;
    margin-right: 10px;
    font-weight: bolder;
    color: blue;
}
.form-control{
   border: solid black inset;
   padding-left: 30px;
   margin-bottom: 5px;
}
.search{
    text-shadow: -3px -4px 9px rgb(27, 23, 23);
}
.user{
    text-shadow: -3px -4px 9px rgb(240, 12, 12);
    color: white;
 
}
.display-card{
    color: black;
    text-shadow: -3px -4px 9px rgb(240, 12, 12);
}
.icon{
    margin: 5px;
    padding: 10px;
    width: 200px;
    height: 30px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    color: rgb(238, 229, 229);
    background-color: rgba(49, 19, 19, 0.5); 
}